@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', "Open Sans", sans-serif;
  background-color: #eee;
  color: #00000A;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  min-height: 100%;
  }

h1 {
  text-align: center;
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  letter-spacing: 1.5px;
  color: #333;
  text-transform: uppercase;
}

form {
	background-color: #eeeeee;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 5%;
	height: 50%;
	text-align: center;
}

input {
	background-color: #eee;
	border: 1;
	padding: 1% 1%;
	margin: 8px 0;
	width: 20%;
}

#addToDoForm {
  background-color: lightgrey;
  color: #00000A;
  padding: 10px;
  text-align: center;
}

#label {
  padding: 1% 1% 0;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

#toDoList {
    list-style-type: none;
  	color: #00000A;
  	font-size: 16px;
  	width: 33.33%;
  	float: left;
  	position: relative;
}

button {
  background: transparent;
  color: #18227C;
  font-weight: 600;
  width: 20%;
  border: 2;
}
